<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChineseAreaService" version="1.0.5924.29023" targetFramework="monoandroid60" />
  <package id="NuGet.CommandLine" version="3.3.0" targetFramework="monoandroid60" />
  <package id="Sino.Droid.ExpandEditText" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Sino.Droid.ExpandTab" version="1.0.6" targetFramework="monoandroid60" />
  <package id="Sino.Droid.MaterialDialog" version="1.0.9" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
</packages>